:root {
    --black: #19191A;
    --white: #FFFFFF;
    --gray: #3E3C39;
    --bg-light: #F9F1E1;
    --bg-dark: #EBE1CE;
    --p-light: #F9C069;
    --p-dark: #DF9629;
    --s-light: #CF4829;
    --s-dark: #BB4125;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Lexend, sans-serif;
    background-color: var(--bg-light);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

p {
    padding: 0;
    margin: 6px 0;
}

ul {
    margin: 6px 0;
}

a {
    color: var(--black);
    text-decoration: none;
}